{% extends "base.html" %}

{% block title %}O nas{% endblock %}

{% block content %}
<div class="bg-light">
    <div class="container rounded-3" style="background-color: white;height: 500px">
        <h1 style="text-align: center">O nas</h1>
        <hr>
    <p style="text-align: center; border: 4px dotted blue; padding: 25px;">
        Twórcy naszego forum dla konsol to zespół pasjonatów gier, którzy postanowili stworzyć przestrzeń, w której gracze mogą dzielić się swoimi doświadczeniami,
        recenzjami i poradami dotyczącymi gier oraz konsol. Naszym celem jest stworzenie miejsca, gdzie użytkownicy znajdą rzetelną i aktualną wiedzę na temat najnowszych technologii gamingowych, konsol, akcesoriów i gier.
        Nasi twórcy to osoby z doświadczeniem w branży, którzy nie tylko grają, ale również śledzą najnowsze trendu, analizy i testy, aby zapewnić użytkownikom dostęp do wartościowych informacji. Jesteśmy zespołem, który stawia na jakość,
        pasję oraz społeczność.
    </p>
    </div>
</div>
{% endblock %}