{% extends "base.html" %}

{% block content %}
<head>
    <title>Dodaj Konsolę</title>
</head>
<body>
<div class="bg-light">
    <div class="container rounded-3" style="background-color: white">
        <h1>Dodaj nową konsolę</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Zapisz</button>
        </form>
        <a href="{% url 'console_list' %}" class="btn btn-primary">Powrót do listy konsol</a>
    </div>
</div>
</body>
{% endblock %} 
