{% extends "base.html" %}

{% block title %}Lista konsol{% endblock %}

{% block content %}
<div class="bg-light">
    <div class="container rounded-3" style="background-color: white">
      <div class="search-filters">
        <form method="get">
            <input type="text" name="q" placeholder="Wyszukaj po nazwie" value="{{ request.GET.q }}">

             <select name="producent">
            <option value="">Producenci</option>
            {% for p in producenci %}
                <option value="{{ p }}" {% if request.GET.producent == p %}selected{% endif %}>
                    {{ p }}
                </option>
            {% endfor %}
        </select>

            <input type="date" name="data_premiery_from" value="{{ request.GET.data_premiery_from }}">
            <input type="date" name="data_premiery_to" value="{{ request.GET.data_premiery_to }}">

            <button type="submit">Filtruj</button>
        </form>
      </div>

        <hr>
    <h1 class="mb-4">Lista konsol</h1>
        <hr>
    <div class="row">
    {% for console in consoles %}
        <div class="col-md-4">
            <div class="card mb-4">
            {% if console.zdjecie %}
                <img src="{{ console.zdjecie.url }}" class="card-img-top" alt="{{ console.nazwa }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ console.nazwa }}</h5>
            <a href="{% url 'console_detail' console.pk %}" class="btn btn-primary">Zobacz szczegóły</a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
    <a href="{% url 'add_console' %}" class="btn btn-success">Dodaj konsole</a>
    </div>
</div>
{% endblock %}
